@use '../base/variables.scss' as *;

// 响应式断点
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $sm) { @content; }
  }
  @else if $breakpoint == md {
    @media (min-width: $md) { @content; }
  }
  @else if $breakpoint == lg {
    @media (min-width: $lg) { @content; }
  }
  @else if $breakpoint == xl {
    @media (min-width: $xl) { @content; }
  }
}

