// // 颜色变量
// $primary-color: #0ea5e9;
// $primary-hover-color: #0284c7;
// $dark-primary-color: #38bdf8;
// $dark-primary-hover: #0ea5e9;

// $logo-color-light: #000;
// $logo-color-dark: #fff;

// $translate-color-light: #64646a;
// $translate-color-dark: #dededf;

// $text-color-light: #6b7280;
// $text-color-dark: #94a3b8;
// $background-dark: #0f172a;
// $divider-color-light: #515151;
// $divider-color-dark: #334155;
// $social-button-bg-light: #ffffff;
// $social-button-bg-dark: #1e293b;
// $social-button-hover-bg-light: #f9fafb;
// $social-button-hover-bg-dark: #334155;

// // 响应式断点
// $sm: 640px;
// $md: 768px;
// $lg: 1024px;
// $xl: 1280px;

// // 尺寸变量
// $border-radius: 0.5rem;
// $input-padding: 0.5rem 1rem;
// $social-icon-size: 1.25rem;
// $form-max-width: 400px;

// $sidebar-bg: #ffffff;
// $sidebar-hover-bg: #e8e8e889;
// $sidebar-active-bg: rgba(47, 160, 208, 0.1);
// $sidebar-border: #1e293b;
// $text-primary: #f1f5f9;
// $text-secondary: #94a3b8;
// $transition-speed: 0.3s;
// $sidebar-logo-text: #201f1f;
// $sidebar-logo-icon: #201f1f;



